<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Xqueryinstitute.github.io : XQuery Summer Institute" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    
    <title>XQuery Summer Institute - About</title>
  </head>

  <body>

   {% include header.html %}
	

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>
			<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>About the XQuery Summer Institute
		</h3>
		<p>There's nothing to see here yet, but you're in the right place. We'll have information about the Institute up soon. Please check back in a few weeks or contact Clifford Anderson (<a href="https://github.com/CliffordAnderson" class="user-mention">@CliffordAnderson</a>) for more information.</p>
      </section>
    </div>

    {% include footer.html %}

  </body>
</html>
