 <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a href="http://library.vanderbilt.edu/scholarly/"><img class="vanderbilt-logo" src="images/vu03br.png"/></a>
            <a id="forkme_banner" href="https://github.com/XQueryInstitute">View on GitHub</a>
            <h1 id="project_title">XQuery Summer Institute</h1>
            <h2 id="project_tagline">Advancing XML-Based Scholarship from Representation to Discovery</h2>
      		  <ul id="nav">
        			<li><a href="index">About</a></li>
        			<li><a href="#">Instructors</a></li>
        			<li><a href="#">Syllabus</a></li>
        			<li><a href="#">FAQs</a></li>
        			<li><a href="#">Apply</a></li>
        			<li><a href="#">Contact</a></li>
      		</ul>
        </header>
    </div>

